.wallet-status > div {
    background-color: #191b1f;
    padding: 10px 15px;
    padding-right: 3px;
    border-radius: 20px;
    margin-right: 5px;
}


.wallet-status > div span {
    margin-right: 7px;
}

.wallet-status > div span + span {
    font-size: 16px;
    background-color: #212429;
    padding: 7px 10px;
    border-radius: 20px;
    margin-right: 0;
}